name: Spellcheck
on: [push, pull_request]
jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Spellcheck (typos)
        uses: crate-ci/typos@v1.24.6
